%h1 
  = @photo_info['title']
%img{:src=>"http://localhost:4567/photos/#{@photo_info["name"]}", :width=>"800"}
%h1 Comments on photo
- if @comment_info.size > 0 then
  - @comment_info.each do |comment|
    %p
      = comment['description'] + ", " + comment['user_id']
  %p comments!!
- else
  %p no comments :(
%form{:action=>"/comment", :method=>"post"}
  %table
    %tr
      %td
        %textarea{ :name => "description"}
    %tr
      %td
        %input{ :type => "submit", :value => "Submit"}
        %input{ :type => "hidden", :name => "user_id", :value => "1"}
        %input{ :type => "hidden", :name => "pic_id", :value => "#{@photo_info["id"]}"}
      %td
        %a{:href => "http://localhost:4567/remove/#{@photo_info["id"]}"} Delete image
        
